@model ShechterShoppingList.Models.ErrorViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="media">
    <img class="mr-3" src="~/pic/Groceries.jpg" width="100">
    <div class="media-body">
        <h1 class="align-items-center" style="align-content:center">Shopping List</h1>
    </div>
</div>

<br />

<h2 style="text-align:center">Error loading page!</h2>
<h3 style="text-align:center; color:red">@Model.ErrorMessage</h3>