@{
    ViewData["Title"] = "Home Page";
}

<div class="media">
    <img class="mr-3" src="~/pic/Groceries.jpg" width="100">
    <div class="media-body">
        <h1 class="align-items-stretch" style="align-content:center">Shopping List</h1>
    </div>
</div>
